body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

#result {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0050ef;
    color: white;
}
input[type="button"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: #45a049;
}
