
<html>

<head>
    <title>Contact</title>
    <link rel="stylesheet" href="../assets/css/aboutUs.css">
</head>

<body>

    <fieldset>
        <legend align="center"><strong>Contact</strong></legend>
    </br>
        <table  align="center">
        </br>
            <tr>
                <td></td>
                <td><h2>Contact US</td>
                <td></td>
            </tr>
            <tr>
                <td><img src="../image/fb.PNG"alt="Fb logo"></td>
                <td><img src="../image/twitter.PNG"alt="twitter logo"></td>
                <td><img src="../image/gmail.PNG"alt="mail logo"></td>
            </tr>
            <tr>
                <td> <a href="www.facebook.com/art_market_place" >Our Facebook</a></td>
                <td><a href="www.twitter.com/art_market_place" >Follow us on twitter</td>
                <td><a href="artworkmarketplace@gmail.com" >support.artwrorkmarketplace@gmail.com</a></td>
            </tr>
        </table>

    </fieldset>
    <h1><a href="UserHome.php">Home</a></h1>
</body>

</html>
