<html>
    <head>
        <title>Menu</title>
        <script src="../assets/JS/menu.js"></script>
        <link rel="stylesheet" href="../assets/styles/rafid.css"/>
    </head>
    <body>
        <center>
            <div id='topbarleft'>
                <a href=homepage.html><img src="../assets/home.png"></a>
                </div>
    
                <div id='topbarright'>
                <a href="user.php" >
                            User
                        </a><br>
                        <div onclick='menuFunc()'>
                            <p id='menu'>Menu</p></div>
                        </div>
        
            <a href="search.html">Search</a>
            <br>
            <a href="../controllers/logout.php">Log Out</a>
        </center>
    </body>
</html>